Repository alex-noreiga/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: sh eslint-warn.sh --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx}": [
    "sh eslint-warn.sh --fix",
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

feat: Add scripts for managing Git hooks and ESLint warnings
  .github/workflows/ci-cd.yml
  scripts/disable-hooks.sh
  scripts/emergency-commit.sh
  scripts/enable-hooks.sh
  scripts/eslint-warn.sh
Due: none

chore: Update CI/CD workflow to use latest action versions and improve permissions
  .github/workflows/ci-cd.yml
Due: none

chore: Update CI/CD workflow to use latest action versions and improve linting step
  .github/workflows/ci-cd.yml
Due: none

Deploying to gh-pages from @ alex-noreiga/portfolio@5e4b91e0eb17ab7667c1c6fa562ff89aa6fd6eed 🚀
  asset-manifest.json
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  robots.txt
  static/css/main.9d4ec677.css
  static/css/main.9d4ec677.css.map
  static/js/100.6d5251b1.chunk.js
  static/js/100.6d5251b1.chunk.js.map
  static/js/105.63f42f10.chunk.js
  static/js/105.63f42f10.chunk.js.map
  static/js/453.1407b060.chunk.js
  static/js/453.1407b060.chunk.js.map
  static/js/601.a40980df.chunk.js
  static/js/601.a40980df.chunk.js.LICENSE.txt
  static/js/601.a40980df.chunk.js.map
  static/js/680.9d3ebf12.chunk.js
  static/js/680.9d3ebf12.chunk.js.map
  static/js/683.f5cda1a2.chunk.js
  static/js/683.f5cda1a2.chunk.js.LICENSE.txt
  static/js/683.f5cda1a2.chunk.js.map
  static/js/711.bebf85cf.chunk.js
  static/js/711.bebf85cf.chunk.js.map
  static/js/953.98fff2ce.chunk.js
  static/js/953.98fff2ce.chunk.js.map
  static/js/main.7988f50f.js
  static/js/main.7988f50f.js.LICENSE.txt
  static/js/main.7988f50f.js.map
Due: sh eslint-warn.sh --fix, prettier --write

Updates
  static/js/601.a40980df.chunk.js.map
  static/js/683.f5cda1a2.chunk.js.map
  static/js/main.7988f50f.js.map
Due: none

Fix GitHub Pages configuration
  .github/workflows/ci-cd.yml
  .nojekyll
  public/404.html
  public/CNAME
Due: none

Deploying to gh-pages from @ alex-noreiga/portfolio@9d43ca827f837aca02825f7b45415d2549a04d98 🚀
  404.html
  CNAME
  static/js/601.a40980df.chunk.js.map
  static/js/683.f5cda1a2.chunk.js.map
  static/js/main.7988f50f.js.map
Due: none

adding downloadable resume
  .github/workflows/ci-cd.yml
  package.json
  public/redirect.html
  public/resume.pdf
  src/components/sections/HeroSection.js
Due: sh eslint-warn.sh --fix, prettier --write

Deploying to gh-pages from @ alex-noreiga/portfolio@f224dd69760a7d50fb490f88082a6817d2a4f2f6 🚀
  asset-manifest.json
  index.html
  redirect.html
  resume.pdf
  static/css/main.9d4ec677.css
  static/css/main.9d4ec677.css.map
  static/css/main.fe686b98.css
  static/css/main.fe686b98.css.map
  static/js/601.a40980df.chunk.js.map
  static/js/683.f5cda1a2.chunk.js.map
  static/js/main.6c2de7fb.js
  static/js/main.6c2de7fb.js.LICENSE.txt
  static/js/main.6c2de7fb.js.map
  static/js/main.7988f50f.js
  static/js/main.7988f50f.js.map
Due: sh eslint-warn.sh --fix, prettier --write

Updates
  static/js/601.a40980df.chunk.js.map
  static/js/683.f5cda1a2.chunk.js.map
  static/js/main.6c2de7fb.js.map
Due: none

Updates
  asset-manifest.json
  index.html
  static/js/main.6c2de7fb.js
  static/js/main.6c2de7fb.js.map
  static/js/main.9b2a2c5c.js
  static/js/main.9b2a2c5c.js.LICENSE.txt
  static/js/main.9b2a2c5c.js.map
Due: sh eslint-warn.sh --fix, prettier --write

fix: Update resume link to use PUBLIC_URL and add target attributes for better accessibility
  src/components/sections/HeroSection.js
Due: sh eslint-warn.sh --fix, prettier --write

Deploying to gh-pages from @ alex-noreiga/portfolio@fc06131ab0c909aca97cb321443f7632609dd046 🚀
  static/js/601.a40980df.chunk.js.map
  static/js/683.f5cda1a2.chunk.js.map
  static/js/main.9b2a2c5c.js.map
Due: none

installing typescript
  package-lock.json
  package.json
Due: prettier --write

Updates
  asset-manifest.json
  index.html
  static/js/601.a40980df.chunk.js.map
  static/js/683.f5cda1a2.chunk.js.map
  static/js/768.6547ceef.chunk.js
  static/js/768.6547ceef.chunk.js.map
  static/js/953.98fff2ce.chunk.js
  static/js/953.98fff2ce.chunk.js.map
  static/js/953.b8d11c72.chunk.js
  static/js/953.b8d11c72.chunk.js.map
  static/js/main.0fe325e8.js
  static/js/main.0fe325e8.js.LICENSE.txt
  static/js/main.0fe325e8.js.map
  static/js/main.9b2a2c5c.js
  static/js/main.9b2a2c5c.js.map
Due: sh eslint-warn.sh --fix, prettier --write

adding certifications section
  package.json
  src/components/PortfolioWebsite.js
  src/components/layout/Navbar.js
  src/components/sections/CertificationsSection.js
  src/components/sections/EducationSection.js
  src/components/sections/index.js
Due: sh eslint-warn.sh --fix, prettier --write
